<!-- inside app/views/welcome/index.html.erb -->  
<div class="index-back">
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active bc-item" aria-current="page">Home</li>
  </ol>
  </div>
</nav>

<main class="main-text">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Watch N Review</h1>
        <p class="lead text-muted">Planning to watch a movie? You've come to the right place! Read through our collection of crisp movie reviews and find out if its a big entertainer or a total disaster</p>
        <p>
          <% if !user_signed_in? %>
                <%= link_to "Sign up", new_user_registration_path,:class=> "btn btn-primary my-2" %>
          <% else %>
                  <%= link_to 'Add a new movie', new_movie_path, :class=> "btn btn-primary my-2" %>
          <%end %>
        </p>
      </div>
    </div>
  </section>
</main>


<div class="row">
<% @movies.each do |movie| %>
<div class="col-sm-3">
  <div class="card movie-card h-200" style="width: 18rem;">
    <div class="img-card">
        <%=image_tag(movie.img_url, :alt => "pic", :class=> "card-img-top") %>
    </div>
    <div class="card-body card-main-body">
      <div class="card-text">
          <%= content_tag(:h5,movie.title, :class => "card-title") %>
          <%= content_tag(:p,movie.description, :class => "card-text") %>
      </div>
      <%= link_to 'Read More', movie, :class=> "btn btn-primary" %>
    </div>
  </div>
  </div>
<% end %>

</div>
</div>