<div class = " main_movie_details">
<nav class="navbar navbar-dark bg-dark" aria-label="breadcrumb">
  <div class="container-fluid">
    <ol class="breadcrumb">
    <%= link_to 'Home', movies_path, :class => "breadcrumb-item bc-item" %>
    <li class="breadcrumb-item active bc-item" aria-current="page">Movie Library</li>
  </ol>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4 movie_det_small">

      <div class ="review_section">
            <%= image_tag(@movie.img_url, :alt => "pic", :size => "200x300") %>
      </div>
      <div class ="review_section">
            <div class="h3">Title:</div>
            <p class="h5"><%= @movie.title %></p>
      </div>
      <div class ="review_section">
             <div class="h4">Movie Duration:</div>
            <p class="h5"><%= @movie.movie_length %></p>
      </div>

      <div class ="review_section">
             <div class="h4">Director:</div>
            <p class="h5"><%= @movie.director %></p>
      </div>

      <div class ="review_section">
             <div class="h4">Rating:</div>
            <p class="h5"><%= @movie.rating %></p>
      </div>
      <div class ="review_section">
             <div class="h4">Recommendations:</div>
             <% count =0%>
                    <% @reviews.each do |review| %>
                        <% if review.recommend? %>
                                <% count = count +1%>
                        
                        <%end%>
                    <%end%>
            <p class="h5"><%= count %></p>
      </div>
      <div>
            <%= link_to 'Edit movie details', edit_movie_path(@movie), :class=> "btn btn-primary my-2" %>
      </div>
      <div>
            <%= link_to 'Write a review', new_movie_review_path(@movie), :class=> "btn btn-primary my-2" %>
      </div>

    </div>
    <div class="col-md-8">

        <div class ="review_section">
              <div class="h3">Description:</div>
              <strong><em><%= @movie.description %></em></strong>
        </div>

        <div class ="review_section">
              <div class="h3">Reviews:</div>
              <div>

                <% if @reviews.blank? %>
                    <h3>No reviews yet, Be the first one to rate this movie! </h3>
                    <%= link_to "Write a  Review", new_movie_review_path(@movie) %>
                <% else %>
                    <% count =0%>
                    <% @reviews.each do |review| %>
                    <div style="text-align:left" >
                        <div class="h6"><%= review.rating %>/5</div>
                        <% if review.recommend? %>
                            <div class="h6">Recommended</div>
                                <% count = count +1%>
                        <%else %>
                            <div class="h6">Not Recommended</div>
                        <%end%>
                    <div class ="h6"><em> <%=review.comment %></em></div><br></br>
                  </div>
                <% end %>
                <% end %>
              </div>
        </div>
    
    </div>
  </div>
</div>

</div>
